.relatedProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.relatedProducts h1{
    color: #171717;
    font-style: 50px;
    font-weight: 600;
}
.relatedProducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedProducts-items{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}